Your task is to perform statistical analysis using this dataset.
https://www.kaggle.com/datasets/abrambeyer/openintro-possum
You are to document in detail, the interpretation of your results from all the measures of centre, all measures of spread,  and outlier detection mechanisms.
Do not do anything on Probability distribution.
Please be intuitive about the statistical insight and information you can get from your data.
You are to submit the assignment as a link to your github repository (put the .ipynb on your github) here

In [1]:
# importing libries
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt

# load the data
df=pd.read_csv("possum.csv")

### Checking the snapshot of the data

In [2]:
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [3]:
df.tail()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [4]:
df.describe(include='all')

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,104,104,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,other,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,58,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,52.500000,3.625000,NaN,NaN,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,NaN,NaN,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,NaN,NaN,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,NaN,NaN,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,NaN,NaN,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,NaN,NaN,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,NaN,NaN,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

### Let check and clean the data if needed

In [5]:
df.isnull().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [6]:
df.isna().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [7]:
# let fill the missing values with mean

# for age with 2 missing value
df['age']=df['age'].fillna(df['age'].mean())

# for footlght with 1 missing value
df['footlgth']=df['footlgth'].fillna(df['footlgth'].mean())

In [9]:
df.isna().sum()

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [14]:
# let check for duplicate if exist
df.duplicated().sum()

0

In [16]:
# Make sure each column has the correct type (int, float, object, datetime)
df.dtypes

case          int64
site          int64
Pop          object
sex          object
age         float64
hdlngth     float64
skullw      float64
totlngth    float64
taill       float64
footlgth    float64
earconch    float64
eye         float64
chest       float64
belly       float64
dtype: object

### My focus will be on Sex, totlngth (tooth lenght), tail, footlght (foot lenght),  and eyes

In [17]:
df.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [22]:

# let extract only the column I want to focus on
focus_df=df[['sex','totlngth','taill','footlgth','eye']]
focus_df

    sex  totlngth  taill  footlgth   eye
0     m      89.0   36.0      74.5  15.2
1     f      91.5   36.5      72.5  16.0
2     f      95.5   39.0      75.4  15.5
3     f      92.0   38.0      76.1  15.2
4     f      85.5   36.0      71.0  15.1
..   ..       ...    ...       ...   ...
99    m      81.5   36.5      66.0  14.8
100   m      82.5   39.0      64.4  14.0
101   f      89.0   38.0      63.5  13.0
102   m      82.5   36.5      62.9  15.4
103   f      89.0   40.0      67.6  14.8

[104 rows x 5 columns]

### Now it is time for me to group the data into male and female to check each of there features

In [35]:
# Lets get the description for each gender by tooth lenght
print( focus_df.groupby('sex')['totlngth'].describe(include='all'))
# displaying the median too
print("\nMedian of the data is: ")
print(focus_df.groupby('sex')['totlngth'].median())

     count       mean       std   min    25%   50%   75%   max
sex
f     43.0  87.906977  4.182241  75.0  85.25  88.5  90.5  96.5
m     61.0  86.511475  4.339896  76.0  84.00  86.0  89.5  96.0

Median of the data is:
sex
f    88.5
m    86.0
Name: totlngth, dtype: float64

sex
f    88.5
m    86.0
Name: totlngth, dtype: float64