# Chicago Crime Data Analysis

## Data ingestion: Dataset Setup and Loading

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

#libraries for time
from datetime import datetime, timedelta

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [30]:
# loading the zip data
# path="../data/archive_3.zip"
# df= pd.read_csv(path,low_memory=True, compression='zip')

# loading the csv file
path="../data/Crimes_2001_to_Present.csv"

# Define data types to reduce memory usage
dtype_dict = {
'ID': 'Int32',
'Case Number': 'string',
'IUCR': 'category',
'Primary Type': 'category',
'Description': 'category',
'Location Description': 'category',
'Arrest': 'bool',
'Domestic': 'bool',
'Beat': 'Int16',
'District': 'Int8',
'Ward': 'Int8',
'Community Area': 'Int8',
'FBI Code': 'category',
'X Coordinate': 'float32',
'Y Coordinate': 'float32',
'Latitude': 'float32',
'Longitude': 'float32'
}
df = pd.read_csv(path, dtype=dtype_dict)

## Preliminary Data Analysis

In [31]:
# let take a snap shot view on our data
print("============ OVERVIEW OF THE DATA =========\n")
print(f"Data info: {df.info()}\n")

print(f"Column list: {df.columns}\n")

print("\n============ Description of the data =========\n")
print(f"{df.describe(include='all')}")

============ OVERVIEW OF THE DATA =========

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7784664 entries, 0 to 7784663
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    Int32
 1   Case Number           string
 2   Date                  object
 3   Block                 object
 4   IUCR                  category
 5   Primary Type          category
 6   Description           category
 7   Location Description  category
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  Int16
 11  District              Int8
 12  Ward                  Int8
 13  Community Area        Int8
 14  FBI Code              category
 15  X Coordinate          float32
 16  Y Coordinate          float32
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float32
 20  Longitude             float32
 21  Location              object
dtypes: Int16(1), Int32(1), Int8(3), bool(2), category(5), float32(4), int64(1), object(4), string(1)
memory usage: 653.4+ MB
Data info: None

Column list: Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')


============ Description of the data =========

                    ID Case Number                    Date             Block  \
count        7784664.0     7784660                 7784664           7784664
unique            <NA>     7784121                 3207478             62845
top               <NA>    HJ590004  01/01/2008 12:01:00 AM  100XX W OHARE ST
freq              <NA>           6                     304             16486
mean    7026439.050899         NaN                     NaN               NaN
std     3502656.769728         NaN                     NaN               NaN
min              634.0         NaN                     NaN               NaN
25%          3792573.5         NaN                     NaN               NaN
50%          7029327.0         NaN                     NaN               NaN
75%        10131129.25         NaN                     NaN               NaN
max         13056426.0         NaN                     NaN               NaN

           IUCR Primary Type Description Location Description   Arrest  \
count   7784664      7784664     7784664              7774283  7784664
unique      404           36         544                  215        2
top        0820        THEFT      SIMPLE               STREET    False
freq     631091      1642148      913484              2026828  5749900
mean        NaN          NaN         NaN                  NaN      NaN
std         NaN          NaN         NaN                  NaN      NaN
min         NaN          NaN         NaN                  NaN      NaN
25%         NaN          NaN         NaN                  NaN      NaN
50%         NaN          NaN         NaN                  NaN      NaN
75%         NaN          NaN         NaN                  NaN      NaN
max         NaN          NaN         NaN                  NaN      NaN

       Domestic  ...       Ward  Community Area  FBI Code  X Coordinate  \
count   7784664  ...  7169816.0       7171188.0   7784664  7.697816e+06
unique        2  ...       <NA>            <NA>        26           NaN
top       False  ...       <NA>            <NA>        06           NaN
freq    6708370  ...       <NA>            <NA>   1642148           NaN
mean        NaN  ...  22.754197       37.484723       NaN  1.164601e+06
std         NaN  ...  13.851058       21.541153       NaN  7.669586e+04
min         NaN  ...        1.0             0.0       NaN  0.000000e+00
25%         NaN  ...       10.0            23.0       NaN  1.152976e+06
50%         NaN  ...       23.0            32.0       NaN  1.166110e+06
75%         NaN  ...       34.0            57.0       NaN  1.176372e+06
max         NaN  ...       50.0            77.0       NaN  1.205119e+06

        Y Coordinate          Year              Updated On      Latitude  \
count   7.697816e+06  7.784664e+06                 7784664  7.697816e+06
unique           NaN           NaN                    5561           NaN
top              NaN           NaN  02/10/2018 03:50:01 PM           NaN
freq             NaN           NaN                 2787942           NaN
mean    1.885781e+06  2.009944e+03                     NaN  4.184221e+01
std     1.350949e+05  6.260628e+00                     NaN  3.833415e-01
min     0.000000e+00  2.001000e+03                     NaN  3.661945e+01
25%     1.859073e+06  2.005000e+03                     NaN  4.176871e+01
50%     1.890730e+06  2.009000e+03                     NaN  4.185591e+01
75%     1.909273e+06  2.015000e+03                     NaN  4.190677e+01
max     1.951622e+06  2.023000e+03                     NaN  4.202291e+01

           Longitude                       Location
count   7.697816e+06                        7697816
unique           NaN                         890516
top              NaN  (41.976290414, -87.905227221)
freq             NaN                          14272
mean   -8.767151e+01                            NaN
std     3.923111e+00                            NaN
min    -9.168657e+01                            NaN
25%    -8.771367e+01                            NaN
50%    -8.766584e+01                            NaN
75%    -8.762820e+01                            NaN
max    -8.752453e+01                            NaN

[11 rows x 22 columns]

In [32]:
# checking first five rows
print ("\nThe last five rows")
print(df.head())

The last five rows
         ID Case Number                    Date                  Block  IUCR  \
0  10224738    HY411648  09/05/2015 01:30:00 PM        043XX S WOOD ST  0486
1  10224739    HY411615  09/04/2015 11:30:00 AM    008XX N CENTRAL AVE  0870
2  11646166    JC213529  09/01/2018 12:01:00 AM  082XX S INGLESIDE AVE  0810
3  10224740    HY411595  09/05/2015 12:45:00 PM      035XX W BARRY AVE  2023
4  10224741    HY411610  09/05/2015 01:00:00 PM    0000X N LARAMIE AVE  0560

  Primary Type              Description Location Description  Arrest  \
0      BATTERY  DOMESTIC BATTERY SIMPLE            RESIDENCE   False
1        THEFT           POCKET-PICKING              CTA BUS   False
2        THEFT                OVER $500            RESIDENCE   False
3    NARCOTICS    POSS: HEROIN(BRN/TAN)             SIDEWALK    True
4      ASSAULT                   SIMPLE            APARTMENT   False

   Domestic  ...  Ward  Community Area  FBI Code  X Coordinate Y Coordinate  \
0      True  ...    12              61       08B     1165074.0    1875917.0
1     False  ...    29              25        06     1138875.0    1904869.0
2      True  ...     8              44        06           NaN          NaN
3     False  ...    35              21        18     1152037.0    1920384.0
4      True  ...    28              25       08A     1141706.0    1900086.0

   Year              Updated On   Latitude  Longitude  \
0  2015  02/10/2018 03:50:01 PM  41.815117 -87.669998
1  2015  02/10/2018 03:50:01 PM  41.895081 -87.765404
2  2018  04/06/2019 04:04:43 PM        NaN        NaN
3  2015  02/10/2018 03:50:01 PM  41.937405 -87.716652
4  2015  02/10/2018 03:50:01 PM  41.881905 -87.755119

                        Location
0  (41.815117282, -87.669999562)
1  (41.895080471, -87.765400451)
2                            NaN
3  (41.937405765, -87.716649687)
4  (41.881903443, -87.755121152)

[5 rows x 22 columns]

In [33]:
# checking last five rows
print ("\nThe last five rows")
print(df.tail())

The last five rows
               ID Case Number                    Date                Block  \
7784659  12847575    JF420478  09/01/2022 05:00:00 AM      005XX W SURF ST
7784660  12847801    JF420319  07/08/2022 12:00:00 AM  114XX S PRAIRIE AVE
7784661  12847324    JF420102  09/27/2022 11:00:00 AM      023XX E 70TH ST
7784662  12847570    JF420427  09/03/2022 10:25:00 AM   052XX W CARMEN AVE
7784663  12840464    JF411839  09/26/2022 07:20:00 PM    0000X N MASON AVE

         IUCR        Primary Type                    Description  \
7784659  2825       OTHER OFFENSE        HARASSMENT BY TELEPHONE
7784660  1130  DECEPTIVE PRACTICE       FRAUD OR CONFIDENCE GAME
7784661  0810               THEFT                      OVER $500
7784662  2021           NARCOTICS         POSSESS - BARBITURATES
7784663  143A   WEAPONS VIOLATION  UNLAWFUL POSSESSION - HANDGUN

                    Location Description  Arrest  Domestic  ...  Ward  \
7784659                        RESIDENCE   False      True  ...    44
7784660                           STREET   False     False  ...     9
7784661                        RESIDENCE   False     False  ...     5
7784662  RESIDENCE - YARD (FRONT / BACK)    True     False  ...    45
7784663                         SIDEWALK    True     False  ...    29

         Community Area  FBI Code  X Coordinate Y Coordinate  Year  \
7784659               6        26     1172497.0    1919410.0  2022
7784660              49        11     1179966.0    1828818.0  2022
7784661              43        06     1193181.0    1859005.0  2022
7784662              11        18     1140553.0    1933418.0  2022
7784663              25        15     1136773.0    1899652.0  2022

                     Updated On   Latitude  Longitude  \
7784659  01/03/2023 03:46:28 PM  41.934303 -87.641487
7784660  01/03/2023 03:46:28 PM  41.685543 -87.616814
7784661  01/03/2023 03:46:28 PM  41.768066 -87.567451
7784662  01/03/2023 03:46:28 PM  41.973392 -87.758537
7784663  01/03/2023 03:46:28 PM  41.880802 -87.773247

                              Location
7784659  (41.934304581, -87.641484982)
7784660  (41.685543881, -87.616812541)
7784661  (41.768068052, -87.567452932)
7784662  (41.973391184, -87.758534512)
7784663  (41.880802263, -87.773245737)

[5 rows x 22 columns]

In [34]:
# checking the missing data
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10381
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614848
Community Area          613476
FBI Code                     0
X Coordinate             86848
Y Coordinate             86848
Year                         0
Updated On                   0
Latitude                 86848
Longitude                86848
Location                 86848
dtype: int64

## Data Cleaning and Preprocessing

### Let extract data from data

In [35]:
 # Ensure Date is datetime
df['Date'] = pd.to_datetime(
    df['Date'],
    format="%m/%d/%Y %I:%M:%S %p",
    errors="coerce"
)

In [36]:
# Extract date components
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Day_of_Week'] = df['Date'].dt.dayofweek  # 0=Monday, 6=Sunday
df['Day_Name'] = df['Date'].dt.day_name()
df['Month_Name'] = df['Date'].dt.month_name()
df['Quarter'] = df['Date'].dt.quarter
df['Is_Weekend'] = df['Day_of_Week'].isin([5, 6])  # Saturday, Sunday

In [37]:
# let see the new columns
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Month', 'Day', 'Hour', 'Day_of_Week', 'Day_Name',
       'Month_Name', 'Quarter', 'Is_Weekend'],
      dtype='object')

### Now let remove missing values

In [38]:
# let remove missing value
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10381
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614848
Community Area          613476
FBI Code                     0
X Coordinate             86848
Y Coordinate             86848
Year                         0
Updated On                   0
Latitude                 86848
Longitude                86848
Location                 86848
Month                        0
Day                          0
Hour                         0
Day_of_Week                  0
Day_Name                     0
Month_Name                   0
Quarter                      0
Is_Weekend                   0
dtype: int64

In [39]:
# let make a copy first
new_df= df.copy()

In [40]:
# removing invalid data 
print(f"Data size before cleaning: {len(new_df)}")
new_df.dropna(subset="Location", inplace=True)
print(f"Data size after cleaning: {len(new_df)}")

Data size before cleaning: 7784664
Data size after cleaning: 7697816

In [41]:
# removing duplicate data 
print(f"Data size before cleaning: {len(new_df)}")
new_df.drop_duplicates()
print(f"Data size after cleaning: {len(new_df)}")

Data size before cleaning: 7697816
Data size after cleaning: 7697816

In [42]:
# removing data outrange of Chicago distreet
print(f"Data size before cleaning: {len(new_df)}")
cleaned_df= new_df[((new_df["Latitude"]).between(41.6, 42.1)) &
                ((new_df["Longitude"]).between(-87.9, -87.5))
                ]
cleaned_df.reset_index()
print(f"After removing invalid coordinates: {len(cleaned_df)} removed:({len(new_df) - len(cleaned_df)})")

Data size before cleaning: 7697816
After removing invalid coordinates: 7671877 removed:(25939)

In [43]:
# Handle outliers in district/ward
ncleaned_df = cleaned_df[
    (cleaned_df['District'].between(1, 25)) & 
    (cleaned_df['Ward'].between(1, 50))
]
print(f"After removing District and ward outliers: {len(ncleaned_df)} removed:({len(cleaned_df) - len(ncleaned_df)})")

After removing District and ward outliers: 7068425 removed:(603452)

In [44]:
# let  Standardize text fields 'Primary Type' and 'Location Description' for easy retrieval without missing out data
ncleaned_df['Primary Type']=ncleaned_df['Primary Type'].str.upper()
ncleaned_df['Location Description']=ncleaned_df['Location Description'].str.upper()

In [45]:
ncleaned_df['Location Description'].head()

0    RESIDENCE
1      CTA BUS
3     SIDEWALK
4    APARTMENT
5    RESIDENCE
Name: Location Description, dtype: object

In [46]:
ncleaned_df['Primary Type'].head()

0      BATTERY
1        THEFT
3    NARCOTICS
4      ASSAULT
5     BURGLARY
Name: Primary Type, dtype: object

In [47]:
# verifying the data
# checking the missing data
 # Missing critical fields
critical_missing = ncleaned_df[['Date', 'Primary Type', 'Latitude', 'Longitude']].isnull().sum()
print(f"Missing Critical Fields:\n{critical_missing}")

Missing Critical Fields:
Date            0
Primary Type    0
Latitude        0
Longitude       0
dtype: int64

### Export the cleaned data

In [48]:
ncleaned_df.to_csv("../data/Cleaned_data.csv", index=False)

## Descriptive Data Analysis(DDA)

### Crime Data Analysis – Insights Framework (Some insight to look at)

1. Frequency Insights (What types of crimes & where they occur most)

    -   Top 10 major crime types (Primary Type).
    -   Top 10 wards with the highest crime
    -   Top 10 districts with the highest crime counts.
    -   Top 10 blocks with the highest crime counts.\
    -   Location-based crime analysis (e.g., Residence, Street, Public Place).

2. Temporal Insights (When crimes happen)

    -   Crime frequency by day of the week.
    -   Crime trends by month of the year.
    -   Year-over-year crime trend (if dataset spans multiple years).
    -   Hourly distribution of crimes (crime patterns across the day).
    -   Weekday vs Weekend crime comparison.

3. Resolution Insights (How crimes are resolved)

    -   Overall resolution rate (Arrested vs Not Arrested).
    -   Arrest likelihood by crime type (which crimes are most likely to result in arrest).
    -   Domestic vs Non-domestic crime comparison (both frequency & resolution).
    -   Ward with the highest crime resolution rate (effectiveness by region).

4. Trend & Severity Insights (How crimes evolve & seriousness)

    -   Long-term trend analysis (crime volume over multiple years).
    -   Crime severity breakdown (if IUCR or felony/misdemeanor distinction is available).

In [3]:
# let copy the cleaned data before we start analysis
# df_cleaned = ncleaned_df.copy()

# reload the cleaned data if required to load it from the start again
# reload the importation of libaries codes too
import pandas as pd
import matplotlib.pyplot as plt

# # ignore warnings
# import warnings
# warnings.filterwarnings('ignore')
 
df_cleaned = pd.read_csv('../data/Cleaned_data.csv')
df_cleaned.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Month,Day,Hour,Day_of_Week,Day_Name,Month_Name,Quarter,Is_Weekend
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,-87.67000,"(41.815117282, -87.669999562)",9,5,13,5,Saturday,September,3,True
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,-87.76540,"(41.895080471, -87.765400451)",9,4,11,4,Friday,September,3,False
2,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,-87.71665,"(41.937405765, -87.716649687)",9,5,12,5,Saturday,September,3,True
3,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,-87.75512,"(41.881903443, -87.755121152)",9,5,13,5,Saturday,September,3,True
4,10224742,HY411435,2015-09-05 10:55:00,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,-87.65843,"(41.744378879, -87.658430635)",9,5,10,5,Saturday,September,3,True

### 1. Frequency Insights (What types of crimes & where they occur most)

#### Top 10 major crime types (Primary Type)

In [5]:
df_cleaned.groupby("Ward")["Primary Type"].sum()

KeyboardInterrupt:


    -   Top 10 wards with the highest crime
    -   Top 10 districts with the highest crime counts.
    -   Top 10 blocks with the highest crime counts.\
    -   Location-based crime analysis (e.g., Residence, Street, Public Place).

In [5]:
df_cleaned["Case Number"].duplicated().sum()

np.int64(527)

## Visualization